<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container text-center">
    <% if !@include %>
      <h2>"<%= params[:answer] %>" is not containing the letters you were given</h2>
      <p>You spent <%= @total_time.round %> seconds</p>
      <div class="score-container">
        <h2>Your score:</h2>
        <h1>0</h1>
      </div>
    <% elsif !@english_word %>
      <h2>"<%= params[:answer] %>" is not a english word. Try again</h2>
      <p>You spent <%= @total_time.round %> seconds</p>
      <div class="score-container">
        <h2 class="counter">Your score:</h2>
        <h1>0</h1>
      </div>
    <% else %>
      <h2>Good job! Your word: "<%= params[:answer] %>"</h2>
      <p>You spent <%= @total_time.round %> seconds</p>
      <div class="score-container">
        <h2>Your score</h2>
        <h1><%= @score %></h1>
      </div>
    <% end %>
    <div><%= link_to "Play again", new_path, class:"button" %></div>
  </div>
</div>


<!-- The word can’t be built out of the original grid
The word is valid according to the grid, but is not a valid English word
The word is valid according to the grid and is an English word -->
