<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487640228478-7a32e30a9e40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container text-center">
    <% if !@include %>
      <h1>God damn, <b>"<%= params[:answer] %>"</b> is not containing the right letters</h1>
    <% elsif !@english_word %>
      <h1><b>"<%= params[:answer] %>"</b> is not a english word. Try again</h1>
    <% else %>
      <h1>Great news, <b>"<%= params[:answer] %>"</b> an actuall word</h1>
      <p>You spent <%= @total_time %> seconds</p>
      <h1>Your score is: <%= @score %></h1>
    <% end %>
    <%= link_to "Try again", new_path, class:"btn btn-primary" %>
</div>


<!-- The word can’t be built out of the original grid
The word is valid according to the grid, but is not a valid English word
The word is valid according to the grid and is an English word -->
